@charset "utf-8";

@font-face {
	font-family: 'starbucks';
	src: url('font.ttf');
}

header{
	font-family: 'starbucks';
	width :600px;
	text-align: center;
	background-color: #F6F5EF;
}

img{
	width: 380px;
	height: 350px;
}

.parent{
	height: 450px;
	display: flex;
}

.child{
	flex:1;
	display: flex;
	justify-content: center;
}

.button_style{
	position: absolute; 
	top:50%; 
	width:150px; 
	height:50px;
	border-radius: 15px;
	border-color: inherit;
	background-color:#DFAF43 ;
	color:ghostwhite;
	font-size: 30px;
}

.textarea_price{
	width:100%; 
	height:100px; 
	margin-top:50px; 
	background-color:#1B3C34;
	font-family: 'starbucks';
	font-size: 50px;
	font-weight: bold;
	resize: none;
	line-height: 160%;
}

.textarea_bills{
	width: 100%; 
	height: 200px; 
	background-color: #F6F5EF; 
	border-color: transparent;
	font-family: 'starbucks';
	font-size: 40px;
	font-weight: bold;
	resize:none;
	}